@theme {
  --color-econtract: #20253d; 
  --color-dim-gray: #6a6767;
  --color-persian-blue: #1c30b0;
  --color-air-force-blue: #033b90;
  --color-ball-blue: #2dc2cf;
  --color-brandeis-blue: #0f61f8;
  --color-dark-cerulean: #093b86;
  --color-alice-blue: #e9f5ff;
  --color-fresh-air: #aeddff;
  --color-ghost-white: #f6f8ff;
}

