
/* chỉnh kích thước chung của nút */
.swiper-button-next,
.swiper-button-prev {
  @apply min-w-15 min-h-15 rounded-full bg-ghost-white shadow-lg flex items-center justify-center;
}

/* chỉnh icon bên trong */
.swiper-button-prev::after {
  @apply text-econtract font-bold mr-1;
  font-size: 36px !important; /* thu nhỏ symbol */
}

.swiper-button-next::after{
  @apply text-econtract font-bold ml-1;
  font-size: 36px !important; /* thu nhỏ symbol */
}

.swiper-pagination {
  bottom: -5px !important; /* đưa về dưới cùng */
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
